a, p, h3, h4, span{
    font-family: 'Tajawal', sans-serif;
}
.navbar-nav {
    position: relative;
    left: -65%;
  }
  .w3l-banner-slider-main .search-right {
    position: relative;
    left: -5%;
}
.w3l-banner-slider-main p.login-texthny {
    float: right;
}
.w3l-banner-slider-main .overlay-login,
.w3l-banner-slider-main .overlay-login1{
    direction: ltr;
    position: relative;
    right: 60%;
    top: -65px;
}
.w3l-banner-slider-main .carousel-caption h3 {
    position: relative;
    left: 55%;
    top: -10px;
}
.w3l-banner-slider-main a.shop-button.btn {
    position: relative;
    left: 65%;
}
a.read-more.btn {
    float: right;
}
.content-info-in .content-gd{
    position: relative;
    right: 28%;
}
h3.hny-title, h3.hny-title.two {
    position: relative;
    left: 38%;
}
a.read-more.btn {
    position: relative;
    right: 40%;
}
.w3l-footer-22 .text-txt h3 {
    position: relative;
    left: 70%;
}
.navbar-expand-lg .navbar-nav {
    position: relative;
    left: -58%;
}
.alert-info {
    right: 25%;
}
