.navbar-nav {
    position: relative;
    left: -65%;
  }
  .w3l-banner-slider-main .search-right {
    position: relative;
    left: -5%;
}
.w3l-banner-slider-main p.login-texthny {
    float: right;
}
.w3l-banner-slider-main .overlay-login,
.w3l-banner-slider-main .overlay-login1{
    direction: ltr;
    position: relative;
    right: 60%;
    top: -65px;
}

